{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-full">
    <form method="post" >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="flex flex-col  gap-y-[35px]">
            <div class="flex flex-col items-center gap-y-[20px]">
                <label for="inputEmail" class="sm:text-xl text-white">Email</label>
                <input type="email"  name="email" placeholder="mail@mail.com" id="inputEmail" class=" bg-transparent border-none placeholder-[#8D8484] placeholder:text-xl  font-bold border-0" autocomplete="email" required autofocus>
            </div>
            <div class="flex flex-col items-center gap-y-[20px]">
                <label for="inputPassword" class="sm:text-5xl text-white">Password</label>
                <input type="password" name="password" id="inputPassword" placeholder="password..." class="border-none text-white placeholder-[#8D8484] placeholder:text-xl  font-bold bg-transparent" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            </div>
            <div class="checkbox flex flex-col items-center justify-center gap-y-[50px]">
                <div class="flex items-center gap-x-4 text-white text-sm">
                    <input type="checkbox" id="remember_me" name="_remember_me">
                    <label for="remember_me">Remember me</label>
                </div>

                <button class="btn py-4 px-5 rounded-xl bg-white w-fit text-sm" type="submit">
                    Sign in
                </button>
            </div>
        </div>



    </form>
</div>
{% endblock %}
