<div class="fixed bottom-0 left-1/2 -translate-x-1/2 w-full h-[7%] py-2 bg-[#3A3737] rounded-t-2xl flex justify-center items-center gap-[44px]">
    <!-- Accueil -->
    <div class="w-[46px]  gap-1">
        <a href="" class="flex flex-col items-center">
            <div class="w-[27px] h-[22px] text-[#8D8484]">
                {{ ux_icon('material-symbols:home', { class: 'text-[#8D8484] w-[27px] h-[22px]' }) }}
            </div>
            <div class="text-center text-white text-xs font-normal">Accueil</div>
        </a>
    </div>

    <!-- Camera -->
    <div class="w-[60px] pb-[7px] flex flex-col items-start gap-2">
        <a href="">
            <div class="w-full p-2 bg-white rounded-[10px] flex justify-center items-center">
                <div class="text-[#8D8484] w-[27px] h-[22px]">
                    {{ ux_icon('bxs:camera', { class: 'text-[#8D8484] w-[27px] h-[22px]' }) }}
                </div>
            </div>
        </a>
    </div>

    <!-- Amis -->
    <div class="w-[46px]  gap-1">
        <a href="" class="flex flex-col items-center">
            <div class="w-[27px] h-[22px] text-[#8D8484]">
                {{ ux_icon('ic:baseline-people', { class: 'text-[#8D8484] w-[27px] h-[22px]' }) }}
            </div>
            <div class="text-center text-white text-xs font-normal">Amis</div>
        </a>
    </div>

    <!-- Profil -->
    <div class=" gap-1">
        <a href="" class="flex flex-col items-center">
            <img class="w-[26px] h-[26px] rounded-full border border-[#8D8484]" src="https://placehold.co/26x26" />
            <div class="w-[46px] flex flex-col items-center gap-1">
                <div class="text-center text-white text-xs font-normal">Profil</div>
            </div>
        </a>
    </div>
</div>
