{# templates/search/index.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}


{{ form_start(form) }}
    {{ form_row(form.imageFile, {
        attr: {
            'accept': 'image/*',
            'capture': 'environment'
        }
    }) }}
    <button type="submit">send</button>
{{ form_end(form) }}





{% endblock %}