@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
}
body{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
.grey{
    color: #8D8484;
}