{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.imageFile, {
        attr: {
            'accept': 'image/*',
            'capture': 'environment'
        }
    }) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

